<!-- HTML file for end page; this contains the set up for how each page will look including formatting and text-->

<!DOCTYPE html>
<head>
    <title>Ending Page</title>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


</head>
<body>
    <center>
        <h1> Thank you for taking the quiz.</h1>

        <button type="button" class="btn waves-effect waves-light light-blue lighten-4 z-depth-2">
            <a href="{% url 'homepage' %}"> Play Again</a>
        </button>

    </center>

</body>

</html>