<!DOCTYPE html>
<head>
    <title>Question 1</title>

     <!-- Compiled and minified CSS -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
     
     <!-- Compiled and minified JavaScript -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
 
</head>

<body>

    <center>
        <h1> Question 1</h1>
    </center>

    <div class="row">
        <div class="col s6 card card-image">
              <img src="paris.jpg" alt="paris">
            <div class="card-action">
              <a href="">Option 1</a>
            </div>
        </div>

        <div class="col s6 card card-image">
            <img src="paris.jpg" alt="paris">
          <div class="card-action">
            <a href="">Option 2</a>
          </div>
        </div>
    </div>

    <div class="row">
        <div class="col s6 card card-image">
              <img src="paris.jpg" alt="paris">
            <div class="card-action">
              <a href="">Option 3</a>
            </div>
        </div>

        <div class="col s6 card card-image">
            <img src="paris.jpg" alt="paris">
          <div class="card-action">
            <a href="">Option 4</a>
          </div>
        </div>
    </div>

<center>
    <button type="button" class="btn waves-effect waves-light light-blue lighten-4 z-depth-2"> 
        <a href="{% url 'question2' %}"> Next Question</a>
    </button>

</center>
  

    
    
</body>
</html>
