<!-- HTML file for question 1; this contains the set up for how each page will look including formatting, text and photos-->
<!DOCTYPE html>
<link href='https://fonts.googleapis.com/css?family=GFS Didot' rel='stylesheet'>
<head>
    <title>Question 1</title>

     <!-- Compiled and minified CSS -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
     
     <!-- Compiled and minified JavaScript -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
     <style type="text/css">
    </style>
  </style>
</head>

</form>
      


<body>

    <center>
        <h1 style ="font-family:didot;font-size:42px;font-style:normal;font-weight: bold; color: rgb(170, 200, 207);
        text-shadow: #000 1px 1px 1px; -webkit-font-smoothing: antialiased;" >Question 1: Which phrase best describes how you feel today? 
        
      </h1>
        
    </center>

    <div class="row">
        <div class="col s4 offset-s2 card card-image" >
          <center>
              <img src="https://miro.medium.com/max/4812/1*xR-TSoQF-BEaXF3hXyXn5Q.jpeg" width="300" height= "300">
            </center>
            <div class="card-action">
              <p>
                <label>
                  <form action = "{% url 'question1' %}" method="POST">
                    <input type = "submit" name="group1" value="q1op1">
                    <span>It's great to be alive</span>
                    {%csrf_token%}
                  </form>
                </label>
              </p>

            
            </div>
        </div>

        <div class="col s4 card card-image">
          <center>
            <img src="https://i.pinimg.com/originals/1f/3f/2b/1f3f2b978bdeb65a9e3f4275482ad80c.jpg" width="300" height= "300">
          </center>
            
          <div class="card-action">
            <!--<a href="">Today I swear I'm not doing anything</a>-->

            <p>
              <label>
                <form action = "{% url 'question1' %}" method="POST">
                  <input type = "submit" name="group1" value="q1op2">
                  <span>Today I swear im not doing anything</span>
                  {%csrf_token%}
                </form>
              </label>
            </p>

            
          </div>
        </div>
    </div>

    <div class="row">
        <div class="col s4 offset-s2 card card-image">
          <center>
            <img src="https://cdn.someecards.com/someecards/usercards/just-call-me-a-bridge-cause-im-over-it-795d2.png" width="300" height= "300">
          </center>
               <!--<<img src="images/paris.jpg" alt="paris" width="1000" height ="500">-->
            <div class="card-action">

              <p>
                <label>
                  <form action = "{% url 'question1' %}" method="POST">
                    <input type = "submit" name="group1" value="q1op3">
                    <span>I'm over this</span>
                    {%csrf_token%}
                  </form>
                </label>
              </p>

             
            </div>
        </div>

        <div class="col s4 card card-image">
          <center>
            <img src="https://www.detoxcentercolorado.com/wp-content/uploads/2020/02/AdobeStock_273862456.jpeg" width="300" height= "300">
          </center>
           
            <div class="card-action">

              <p>
                <label>
                  <form action = "{% url 'question1' %}" method="POST">
                    <input type = "submit" name="group1" value="q1op4">
                    <span>I can't wait to see my friends</span>
                    {%csrf_token%}
                  </form>
                </label>
              </p>

              
          </div>
        </div>
    </div>

  </form>

    <center>

      <button style="margin:5px" type="button" class="btn waves-effect waves-light light-blue lighten-4 z-depth-2"> 
          <!--<input type = "submit" name = "submit_button">-->
          <a href="{% url 'question2' %}"> Next Question</a>
      
      </button>
  
  </center>

    
</body>
</html>