<!DOCTYPE html>
<head>
    <title>Question 2</title>

     <!-- Compiled and minified CSS -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

     <!-- Compiled and minified JavaScript -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</head>

</form>
      
<form action = "#" method = "POST">
  
<body>
    <center>  
        <h1>Question 2: What's your go-to weekend plans?</h1>

    </center>

    <div class="row">
        <div class="col s6 card card-image">
              <img src="paris.jpg" alt="paris">
            
              <p>
                <label>
                  <input name="group2" type="radio"/>
                  <span>Date night</span>
                </label>
              </p>
            
              <!--<div class="card-action">
              <a href="">Rom-Com</a>
              </div>-->
        </div>

        <div class="col s6 card card-image">
            <img src="paris.jpg" alt="paris">
            <p>
              <label>
                <input name="group2" type="radio"/>
                <span>Coffee shop and productivity</span>
              </label>
            </p>
          
          
            <!--<div class="card-action">
            <a href="">Coffee shop and productivity</a>
            </div>-->
        </div>
    </div>

    <div class="row">
        <div class="col s6 card card-image">
              <img src="paris.jpg" alt="paris">
              <p>
                <label>
                  <input name="group2" type="radio"/>
                  <span>Partying with friends</span>
                </label>
              </p>
            
        </div>

        <div class="col s6 card card-image">
            <img src="paris.jpg" alt="paris">
            <p>
              <label>
                <input name="group2" type="radio"/>
                <span>Traveling to a new city</span>
              </label>
            </p>
        </div>
    </div>

  </form>

    <center>
        
        <button type="button" class="btn waves-effect waves-light light-blue lighten-4 z-depth-2"> 
            <a href="{% url 'question3' %}"> Next Question</a>
        </button>

    </center>
    
</body>
</html>



